html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar-logo {
  height: 40px;
  width: auto;
  margin-right: 12px;
}


.logo-section {
  background-color: #0077cc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  width: 100%;
  flex-wrap: wrap;
}

.logo-right {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-right p {
  margin: 0;
}

.logo-right p {
  font-size: 20px;
  text-align: center;
}

@media (min-width: 601px) {
  .logo-section {
    flex-wrap: nowrap;
  }

  .logo-left {
    flex: 1;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .logo-right {
    flex: 2;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .logo-left h2 {
    font-size: 28px;
  }

  .logo-right p {
    font-size: 25px;
    text-align: right;
  }
}
